<mat-card id="loginForm" class="centerW mobile marginTop">
    <form [formGroup]="form" (submit)="onLogin(form.value)" class="stack">
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="example@imail.com" formControlName="email" required>
            <mat-error *ngIf="form.get('email')!.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Enter your password</mat-label>
            <input matInput [type]="isHidden ? 'password' : 'text'" formControlName="password" required>
            <mat-error *ngIf="form.get('password')!.invalid">Please enter your password</mat-error>
            <button type="button" mat-icon-button matSuffix (click) ="isHidden = !isHidden" [attr.aria-label] = "'Hide Password'" [attr.aria-pressed] = "isHidden">
                <mat-icon> {{isHidden ? 'visibility_off' : 'visibility'}} </mat-icon>
            </button>
        </mat-form-field>
        <button mat-button class="button-main">Login</button>
    </form>
</mat-card>