.stack{
    display: flex;
    flex-direction: column;
  }
  
  .mobile{
    max-width: 320px;
  }
  
  .centerW{
    margin: auto;
  }
  
  .marginTop{
    margin-top: 50px;
  }
  
  .button-main{
    background-color: #a2c8df;
  }