<div class="header" id="header">
    <h1>{{ title }}</h1>
    <ul>
      <li>
        <a mat-button routerLink="/login" routerLinkActive="selected">login</a>
      </li>
      <li>
        <a mat-button routerLink="/f1" routerLinkActive="selected">Feature1</a>
      </li>
    </ul>
  </div>
